:root {
    --color-gold: #bdae82;
    --color-black: #000;
    --font1: 60px;
    --font2: 40px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}

body {
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-black);
}

//-----------------------------
//----------------------------
.btn {
    width: 220px;
    height: 55px;
    padding: 8px 0 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: inherit;
}

.btn_gold {
    color: var(--color-black);
    background-color: var(--color-gold);
    border: none;
    transition: 0.5s;

    &:hover {
        color: #FFFFFF;

    }
}

.btn_transparent {
    color: var(--color-gold);
    background-color: transparent;
    border: 2px solid #BDAE82;
    transition: 0.5s;

    &:hover {
        color: #FFFFFF;

    }
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-pt {
    padding-top: 107px;
}

//------START HEADER-----------------------
//----------------------------


.header__container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;

}

.header__main-page-link {
    width: 50px;
    height: 50px;
    background-image: url('../assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;

    transition: 0.5s;
    display: flex;
    align-items: center;

    &:hover {
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    }
}

.header__nav {
    display: flex;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header__nav-item {
    padding-left: 31px;
}

.header__nav-link {

    line-height: 50px;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;

    color: #FFFFFF;
    font-size: 20px;
    line-height: 50px;

    transition: color 0.5s;

    &:hover {
        color: var(--color-gold);
    }
}

.header__nav-item-lang {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.header__nav-link_active {
    color: var(--color-gold);
}

.header__nav-link-lang {
    padding-left: 10px;

    &:first-child {
        padding-left: 0;
        padding-right: 11px;
    }
}

//---------START SECTION HERO ----------------------------------
//-------------------------------------------


.hero__container {
    background-image: url('../assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    display: flex;
    height: 910px;

    padding-top: 160px;
    padding-left: 80px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    width: 490px;
    height: 330px;
    flex-direction: column;
}

.hero__title {
    font-family: Merriweather-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font1);
    line-height: 120px;
    margin: 0;
}

.hero__description {
    font-size: 20px;
    line-height: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px 0 25px;
}


//---------START SECTION SKILLS ----------------------------------
//-------------------------------------------


//--h2 DECORATION--------
.section-title-h2-style {
    font-weight: bold;
    color: var(--color-gold);
    font-family: Merriweather-Bold;
    font-style: normal;
    font-size: var(--font2);
    line-height: 80px;
}


.section-title-h2-decor {
    text-align: center;
    margin-bottom: 40px;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid var(--color-gold);
        top: 0px;
        left: calc(50% - 350px);
        width: 700px;
        height: 50%;
        z-index: -2;
        border-radius: 0px;

    }
}

.section-title-h2-decor_short {
    &::before {
        position: absolute;
        content: "";
        border-bottom: 40px solid var(--color-black);
        top: -20px;
        left: calc(50% - 76px);
        width: 152px;
        height: 50%;
        z-index: -1;
    }

}

.section-title-h2-decor_long {
    &::before {
        position: absolute;
        content: "";
        border-bottom: 40px solid var(--color-black);
        top: -20px;
        left: calc(50% - 110px);
        width: 220px;
        height: 50%;
        z-index: -1;
    }
}

//----the end decoration------------------------


.skills__container {
    padding-top: 10px;
}

.skills__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skills__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
}

.skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 320px;
    margin-left: 20px;
    margin-right: 20px;


}

.skills__icon {
    margin-bottom: 50px;
}

.skills__icon_camera {
    width: 62px;
    height: 50px;
}

.skills__icon_video {
    width: 60px;
    height: 50px;
}

.skills__icon_picture {
    width: 66px;
    height: 50px;
}

.skills__icon_microphone {
    width: 32px;
    height: 50px;
}

.skills__title-title {
    font-family: Inter-Bold;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.skills__descr {
    font-size: 18px;
    line-height: 36px;
    width: 280px;
    margin-top: 20px;
}



//---------START SECTION PORTFOLIO ----------------------------------
//-------------------------------------------

.portfolio__container {
    display: flex;
    flex-direction: column;
}


.portfolio__content {
    display: flex;
    flex-direction: column;
margin-top: 22px;

}

.portfolio__btn-s {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5px;
    margin-bottom: 60px;
}

.portfolio__btn-item {}



.portfolio__gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}


//---------START SECTION VIDEO ----------------------------------
//-------------------------------------------

.video__container{
    padding-top: 101px;
}

.video__title {
    margin-bottom: 60px;
}

.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;

    background-image: url('../assets/img/video-player.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 705px;

}

.video-player-btn {
    position: absolute;
    background-image: url('../assets/svg/play-btn1.svg');
    z-index: 4;
    top: calc(50% - 150px/2);
    left: calc(50% - 150px/2);
    width: 150px;
    height: 150px;
    border-radius: 50%;

    cursor: pointer;
    font-family: inherit;
    background-color: transparent;
    border: none;
    transition: 0.5s;


    &:hover {
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    }
}


//---------START SECTION PRICE ----------------------------------
//-------------------------------------------
.price__container {
    padding-top: 100px;
}

.price__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 25px;
    margin-bottom: 100px;
}
.price__title{
margin-bottom: 60px;
}

.price__item {
    width: 450px;
    height: 505px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--color-gold);
    padding-top: 42px;
    padding-bottom: 43px;
    font-family: Merriweather-Bold;
    font-style: normal;
    font-weight: bold;

}

.price__item-title {
    font-size: 28px;
    line-height: 56px;
    margin-bottom: 20px;
}

.price__item-cost {
    font-size: 24px;
    line-height: 48px;
    color: var(--color-gold);
    margin-bottom: 20px;
}

.price__item-services {
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
}

.price__item-btn {
    margin-top: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
}



//---------START SECTION CONTACTS ----------------------------------
//-------------------------------------------


.contacts__container {
    background: url('../assets/img/contacts.jpg');
    background-size: auto 700px;
    background-position: center center;
    height: 700px;
    padding-top: 60px;
}


.contacts__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;

}

.contacts__title {
    text-align: left;
    width: 450px;
    margin-bottom: 40px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.iniput-style {
    font-family: inherit;
    color: #FFFFFF;
    line-height: 40px;
    padding-left: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid var(--color-gold);
    box-sizing: border-box;
    border-radius: 0px;
}

.contacts__input-e-mail,
.contacts__input-e-phone {
    padding-top: 2px;
    padding-bottom: 5px;
    margin-bottom: 19px;
}


.contacts__input-text {
    padding-top: 2px;
    margin-bottom: 30px;
    height: 100px;
    resize: none;
}

.btn-gold__contacts {}

::placeholder {
    font-family: inherit;
    color: var(--color-gold);
    line-height: 40px;
}



//---------START FOOTER ----------------------------------
//-------------------------------------------


.footer {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__created {
    font-size: 18px;
    line-height: 50px;
}

.footer__created-copy {
    font-size: 20px;
    line-height: 50px;
}

.footer__created-year {
padding-left: 18px;
padding-right: 10px;
    font-size: 20px;
    line-height: 50px;
}

.footer__created-link {
    font-size: 19px;
    line-height: 50px;
}

.footer__rs-school-link {
    font-size: 20px;
    line-height: 50px;
    padding-left: 33px;
}

.footer-link-style {
    color: #FFFFFF;
    border: none;
    transition: 0.5s;

    &:hover {
        color: var(--color-gold);
    }

}


.footer__social-lst {
    list-style: none;
    display: flex;
    column-gap: 23px;
}

.footer__social-item {}


.footer__social-link {
    width: 30px;
    height: 30px;

    background-size: contain;
    background-repeat: no-repeat;

    transition: 0.5s;
    display: flex;
    align-items: center;

    &:hover {
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    }
}


.footer__social-link_inst {
    background-image: url('../assets/svg/inst1.svg');
}

.footer__social-link_fb {
    background-image: url('../assets/svg/fb1.svg');
}

.footer__social-link_tv {
    background-image: url('../assets/svg/tw1.svg');
}

.footer__social-link_pt {
    background-image: url('../assets/svg/pint1.svg');
}


//-----END OF PC STATIC PAGE------------
//-------------------------------------
//------------------------------------
