:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --font1: 60px;
  --font2: 40px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 40px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-black);
}

.btn {
  width: 220px;
  height: 55px;
  padding: 8px 0 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: inherit;
}

.btn_gold {
  color: var(--color-black);
  background-color: var(--color-gold);
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn_gold:hover {
  color: #FFFFFF;
}

.btn_transparent {
  color: var(--color-gold);
  background-color: transparent;
  border: 2px solid #BDAE82;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn_transparent:hover {
  color: #FFFFFF;
}

.container {
  max-width: 1440px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.container-pt {
  padding-top: 107px;
}

.header__container {
  height: 90px;
  background: url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

@media (max-width: 768px) {
  .header__container {
    height: 90px;
    background-position: 30px 0px;
    background-size: auto 580px;
  }
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.header__main-page-link {
  width: 50px;
  height: 50px;
  background-image: url("../assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main-page-link:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__nav-item {
  padding-left: 31px;
}

.header__nav-link {
  line-height: 50px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 50px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.header__nav-link:hover {
  color: var(--color-gold);
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
}

.header__lang_active {
  color: var(--color-gold);
}

.header__link-lang {
  padding-left: 10px;
}

.header__link-lang:first-child {
  padding-left: 0;
  padding-right: 11px;
}

.hamburger-btn {
  display: none;
}

.header__nav-hamburger-menu {
  display: none;
}

.hero__container {
  background-image: url("../assets/img/bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 910px;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 160px;
  padding-left: 80px;
}

@media (max-width: 768px) {
  .hero__container {
    height: 500px;
    background-position: 30px -90px;
    background-size: auto 580px;
  }
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 390px;
  height: 270px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--font1);
  line-height: 120px;
  margin: 0;
}

.hero__description {
  font-size: 20px;
  line-height: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px 0 25px;
}

.section-title-h2-style {
  font-weight: bold;
  color: var(--color-gold);
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-size: var(--font2);
  line-height: 80px;
}

.section-title-h2-decor {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.section-title-h2-decor::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid var(--color-gold);
  top: 0px;
  left: calc(50% - 350px);
  width: 700px;
  height: 50%;
  z-index: -2;
  border-radius: 0px;
}

.section-title-h2-decor_short::before {
  position: absolute;
  content: "";
  border-bottom: 40px solid var(--color-black);
  top: -20px;
  left: calc(50% - 76px);
  width: 152px;
  height: 50%;
  z-index: -1;
}

.section-title-h2-decor_long::before {
  position: absolute;
  content: "";
  border-bottom: 40px solid var(--color-black);
  top: -20px;
  left: calc(50% - 110px);
  width: 220px;
  height: 50%;
  z-index: -1;
}

.skills__container {
  padding-top: 10px;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 320px;
  margin-left: 20px;
  margin-right: 20px;
}

.skills__icon {
  margin-bottom: 50px;
}

.skills__icon_camera {
  width: 62px;
  height: 50px;
}

.skills__icon_video {
  width: 60px;
  height: 50px;
}

.skills__icon_picture {
  width: 66px;
  height: 50px;
}

.skills__icon_microphone {
  width: 32px;
  height: 50px;
}

.skills__title-title {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}

.skills__descr {
  font-size: 18px;
  line-height: 36px;
  width: 280px;
  margin-top: 20px;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 22px;
}

.portfolio__btn-s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  margin-bottom: 60px;
}

.portfolio__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

.video__container {
  padding-top: 101px;
  max-width: 1440px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.video__title {
  margin-bottom: 60px;
}

.video-player {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 700px;
  background-image: url("../assets/img/video-player.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1420px) {
  .video-player {
    height: 418px;
    background-position: center;
    background-size: auto 418px;
  }
}

.video-player-btn {
  position: absolute;
  background-image: url("../assets/svg/play-btn1.svg");
  z-index: 4;
  top: calc(50% - 150px/2);
  left: calc(50% - 150px/2);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.video-player-btn:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.price__container {
  padding-top: 100px;
}

.price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  margin-bottom: 100px;
}

.price__title {
  margin-bottom: 60px;
}

.price__item {
  width: 450px;
  height: 505px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid var(--color-gold);
  padding-top: 42px;
  padding-bottom: 43px;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
}

.price__item-title {
  font-size: 28px;
  line-height: 56px;
  margin-bottom: 20px;
}

.price__item-cost {
  font-size: 24px;
  line-height: 48px;
  color: var(--color-gold);
  margin-bottom: 20px;
}

.price__item-services {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
}

.price__item-btn {
  margin-top: 40px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
}

.contacts__container {
  background: url("../assets/img/contacts.jpg");
  background-size: auto 700px;
  background-position: center center;
  background-repeat: no-repeat;
  height: 700px;
  padding-top: 60px;
  padding-right: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .contacts__container {
    height: 600px;
    background-position: -235px 0px;
    background-size: auto 600px;
  }
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
}

.contacts__title {
  text-align: left;
  max-width: 450px;
  margin-bottom: 40px;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
}

.iniput-style {
  font-family: inherit;
  color: #FFFFFF;
  line-height: 40px;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--color-gold);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px;
}

.contacts__input-e-mail,
.contacts__input-e-phone {
  padding-top: 2px;
  padding-bottom: 5px;
  margin-bottom: 19px;
}

.contacts__input-text {
  padding-top: 2px;
  margin-bottom: 30px;
  height: 100px;
  resize: none;
}

::-webkit-input-placeholder {
  font-family: inherit;
  color: var(--color-gold);
  line-height: 40px;
}

:-ms-input-placeholder {
  font-family: inherit;
  color: var(--color-gold);
  line-height: 40px;
}

::-ms-input-placeholder {
  font-family: inherit;
  color: var(--color-gold);
  line-height: 40px;
}

::placeholder {
  font-family: inherit;
  color: var(--color-gold);
  line-height: 40px;
}

.footer {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__created {
  font-size: 18px;
  line-height: 50px;
}

.footer__created-copy {
  font-size: 20px;
  line-height: 50px;
}

.footer__created-year {
  padding-left: 18px;
  padding-right: 10px;
  font-size: 20px;
  line-height: 50px;
}

.footer__created-link {
  font-size: 19px;
  line-height: 50px;
}

.footer__rs-school-link {
  font-size: 20px;
  line-height: 50px;
  padding-left: 33px;
}

.footer-link-style {
  color: #FFFFFF;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-link-style:hover {
  color: var(--color-gold);
}

.footer__social-lst {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 23px;
          column-gap: 23px;
}

.footer__social-link {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-link:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.footer__social-link_inst {
  background-image: url("../assets/svg/inst1.svg");
}

.footer__social-link_fb {
  background-image: url("../assets/svg/fb1.svg");
}

.footer__social-link_tv {
  background-image: url("../assets/svg/tw1.svg");
}

.footer__social-link_pt {
  background-image: url("../assets/svg/pint1.svg");
}

@media (max-width: 1440px) {
  .skills__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .skills__item {
    width: 300px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 36px;
  }
  .price__item {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header__lang {
    margin-left: auto;
    margin-right: 20px;
  }
  .hamburger-btn {
    display: block;
  }
  .hamburger-btn__line {
    display: block;
    width: 50px;
    height: 3px;
    margin: 10px auto;
    background-color: #FFFFFF;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .hamburger-btn:hover {
    cursor: pointer;
  }
  .hamburger-btn.active.hamburger-btn__line:nth-child(2) {
    opacity: 0;
  }
  .hamburger-btn.active.hamburger-btn__line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
            transform: translateY(13px) rotate(45deg);
  }
  .hamburger-btn.active.hamburger-btn__line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
            transform: translateY(-13px) rotate(-45deg);
  }
  .header__nav-hamburger-menu {
    position: fixed;
  }
  .skills__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container {
    width: calc(100% - 124px);
    margin-left: 60px;
  }
  .hero__container {
    padding-top: 78px;
    padding-left: 60px;
  }
  .hero__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 490px;
    height: 330px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 64px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
  }
  .hero__description {
    line-height: 24px;
    text-shadow: none;
    margin: 20px 0 60px;
    max-width: 390px;
  }
  .section-title-h2-decor::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--color-gold);
    top: 0px;
    left: calc(50% - 182px);
    width: 364px;
    height: 50%;
    z-index: -2;
    border-radius: 0px;
  }
  .skills__container {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .skills__title {
    margin-bottom: 36px;
  }
  .skills__descr {
    line-height: 22px;
    width: 280px;
  }
  .skills__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0px;
    margin-left: 0;
    margin-right: 0;
  }
  .portfolio__container {
    padding-top: 80px;
  }
  .portfolio__title {
    margin-bottom: 50px;
  }
  .video__container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .video-player-btn {
    width: 75px;
    height: 75px;
    top: calc(50% - 75px/2);
    left: calc(50% - 75px/2);
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .contacts__container {
    padding-right: 0;
  }
  .contacts__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts__title {
    text-align: center;
  }
  .contacts__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer {
    height: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__rs-school-link {
    padding: 0;
  }
  .footer__social-lst {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .section-title-h2-style::after {
    display: none;
  }
  .portfolio__gallery-item {
    width: 100%;
  }
  .contacts__form {
    width: calc(100% - 8px);
  }
}
